*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  padding: 15px 30px;
  background: rgb(89, 53, 53);
  border-radius: 5px;
  color: #ffffff;
  font-size: 24px;
  font-family: sans-serif;
}

.container > div {
  margin: 10px 0;
  padding: 0.3em;
  border-radius: 3px;
  font-size: 130%;
  font-weight: bold;
}

.item1 {
  background-color: coral;
}
.item2 {
  background-color: royalblue;
}
.item3 {
  background-color: chartreuse;
}

.container2 {
  padding: 30px;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: #ffffff;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.grid {
  display: grid;
  background-color: darkgoldenrod;
  padding: 0.3em;
  border-radius: 3px;
  font-size: 130%;
  font-weight: bold;
}
.inline-grid {
  display: inline-grid;
  background-color: coral;
  padding: 0.3em;
  border-radius: 3px;
  font-size: 130%;
  font-weight: bold;
}
p {
  color: black;
}
.grid2 {
  display: grid;
  grid-template-areas:
    "aside1 header header"
    "aside1 menu aside2"
    "aside1 menu aside2"
    "aside1 menu aside2"
    "aside1 futer futer";
  grid-gap: 10px;
  padding: 20px;
  background-color: #0d233d;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.grid2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  border-radius: 3px;
  background-color: #482880;
  color: #ffffff;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
}
.grid2 > div:nth-child(odd) {
  background-color: #1769aa;
}

.item11 {
  grid-area: header;
}
.item22 {
  grid-area: aside1;
}
.item33 {
  grid-area: aside2;
}
.item4 {
  grid-area: menu;
}
.item5 {
  grid-area: futer;
}

header {
  grid-column: span 12;
  display: flex;
  padding: 10px;
  background-color: #214878;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
header div {
  margin: 0 20px;
  padding: 10px 0;
}
header div:nth-child(3) {
  margin-left: auto;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 500px 10vh;
  background-color: rgb(142, 148, 55);
  grid-gap: 10px;
  padding: 20px;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 130%;
  font-weight: bold;
  color: #fff;
}
nav {
  grid-column: span 2;
  background-color: darkorchid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
main {
  grid-column: span 8;
  background-color: darkslateblue;
  display: flex;
  align-items: center;
  padding-left: 40px;
  border-radius: 15px;
}
aside {
  grid-column: span 2;
  background-color: darkviolet;
  display: flex;
  align-items: center;
  padding-left: 40px;
  border-radius: 15px;
}
footer {
  grid-column: span 12;
  background-color: deepskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.gellery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 80%;
  margin: 45px auto;
  grid-gap: 2vh;
}
.gellery.image {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  filter: brightness(0.5) grayscale(1);
  transition: 0.3s ease-in-out;
}
img:hover {
  filter: brightness(1) grayscale(0);
  transform: scale(1.1);
}
.image1 {
  grid-column: span 2;
  grid-row: span 2;
}
.image2 {
  grid-column: 3/5;
  grid-row: 1/2;
}
.image3 {
  grid-column: 1/3;
  grid-row: 3/3;
}
.image5 {
  grid-column: 3/5;
  grid-row: 2/4;
}
